<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Aktuelle Netzfrequenz</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
            <a class="nav-link" routerLink="/aktuell">Aktuell</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" routerLink="/verlauf">Frequenzverlauf</a>
            </li>
        </ul>
        <form class="d-flex">
            <button class="btn btn-outline-success" type="submit">Aktualisieren</button>
        </form>
    </div>
</nav>
